#formacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.card-formacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid var(--purple-color);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.container-formacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-formacao div {
    margin-left: 20px;
}

@media (max-width: 820px) { 
    .card-formacao {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .card-formacao div {
        margin-left: 0;
        margin-top: 10px;
    }
}