/* Importação da fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
* Reset básico para usar o modelo de "caixas"
*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #38B6FF;
    --primary-color-hover: #54bdfa;
    --purple-color: #8A2BE2;
    --purple-color-hover: #9b33ff;
    --black-color: #1E1E1E;
    --black-color-hover: #282a2c;
    --bg-light: #f8f9fa;
    --bg-branco: #FFF;
    --light-black-color: rgba(0, 0, 0, 0.7);
    --header-height: 60px;
}

main {
    position: fixed;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    overflow-y: scroll;
}

section {
    min-height: calc(100vh - var(--header-height));
    max-width: 100vw;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h2 span {
    color: var(--primary-color);
}

.logo-company {
    max-width: 100px;
    margin: 20px 0px;
}

/*
* Início Design Responsivo
*/
@media (max-width: 520px) { 
    section {
        height: auto;
    }
}